@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

body {
    max-width: 1200px;
    width: 100%;
    justify-self: center;
    padding: 10px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

header a:visited {
    text-decoration: none;
}

h1.logo {
    font-size: 36px;
    width: fit-content;
    color: #2d6998;
    font-weight: 800;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #2d6998;
    color: white;
    transition: color 0.3s, background-color 0.4s;
}
nav a:visited {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    justify-content: center;
}

div#chart_img {
    margin-top: 20px;
}

.grid-container {
    justify-self: center;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.grid-image {
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
    margin: 5px;
    object-fit: contain;
}

label {
    padding: 5px;
}

.grid-size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.input-section {
    display: flex;
    align-items: center;
}

.input-id {
    border: 1px solid #2c2d2e;
    padding: 5px 12px;
    border-radius: 10px;
}

.button-generate {
    font-size: 22px;
    font-weight: 600;
    background-color: #2d6998;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 36px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button-generate:hover {
    background-color: #1e4b6e;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-generate:active {
    background-color: #16334a;
    transform: scale(0.95);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

h1.result {
    width: fit-content;
    justify-self: center;
}

.download {
    display: flex;
    flex-direction: column;
}

a.a-button {
    margin: 15px;
    font-size: 20px;
}

a.a-button:hover {
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a.a-button:active {
    transform: scale(0.95);
}

a#other-chart {
    color: black;
    text-decoration: none;
}

a#other-chart:visited {
    text-decoration: none;
}

p {
    text-align: justify;
}

p a {
    text-decoration: none;
}