<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <header>
        <a href="{{ url_for('homepage') }}"><h1 class="logo">Chart for Skoob</h1></a>

        <nav class="nav">
            <ul>
                <li><a href="{{ url_for('homepage') }}">Início</a></li>
                <li><a href="{{ url_for('about') }}">Sobre</a></li>
                <li><a href="{{ url_for('privacy') }}">Privacidade</a></li>
                <li><a href="{{ url_for('contact') }}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h1>Erro</h1>
            
        <p>Mensagem de erro.</p>
    </section>
    <footer>
        <p>© {{ current_year }} | Desenvolvido por Breno de Carvalho</p>
    </footer>
</body>
</html>