<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart for Skoob</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
</head>
<body>
    <header>
        <section id="header-section">
            <a href="{{ url_for('homepage') }}"><h1 class="logo">Chart for Skoob</h1></a>
            <span id="burguer" class="material-symbols-outlined">menu</span>
        </section>

        <nav id="main-nav" class="nav">
            <ul>
                <li><a href="{{ url_for('homepage') }}">Início</a></li>
                <li><a href="{{ url_for('about') }}">Sobre</a></li>
                <li><a href="{{ url_for('privacy') }}">Privacidade</a></li>
                <li><a href="{{ url_for('contact') }}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section class="main-section">

        <h1>Gere o seu chart de livros!</h1>

        <p>Para obter o seu <strong>código de usuário</strong> do Skoob, siga estas etapas:</p> 
            <ul> 
                <li>No aplicativo, acesse o seu <strong>Perfil</strong>, toque na sua <strong>Foto</strong> e selecione a opção <strong>Compartilhar</strong>. Você pode inserir a URL ou o código do seu perfil.</li> 
                <li>Se estiver usando um navegador, acesse o seu perfil e copie a URL.</li> 
            </ul>

        <section class="grid-container">
            <img id="instruction-image" class="grid-image" src="{{ image_src }}" alt="Imagem Gerada">
            <div class="loader"></div>
        </section>
        
        <section class="form-section">
            <form class="form" method="POST">
                
                <section class="input-section">
                    <label for="user_id">Código de usuário:</label>
                    <input class="input-id" type="text" name="user_id" placeholder="Digite o seu código" required>
                </section>
            
                <section class="grid-size">
                    <label for="grid_size">Grid</label>
                    <select name="grid_size" id="grid_size">
                        <option value="3,2">3x2</option>
                        <option value="4,3" selected>4x3</option>
                        <option value="5,4">5x4</option>
                        <option value="7,5">7x5</option>
                        <option value="8,6">8x6</option>
                    </select>
                    <label>
                        <input type="checkbox" name="paste_star" value="True" checked>
                        Com avaliações
                    </label>
                </section>

                <button class="button-generate" type="submit">Gerar Chart</button>
            </form>
        </section>        
    </section>

    <footer>
        <p>© {{ current_year }} | Desenvolvido por <a href="https://github.com/brenovsky/" target="_blank">Breno de Carvalho</a></p>
    </footer>

    <script src="static/main.js"></script>
</body>
</html>