<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <h1>Skoob Chart</h1>

    <form method="POST">
        <input type="text" name="user_id" placeholder="Digite o seu código de usuário">
        <button type="submit">Gerar Chart</button>
    </form>

    {% if request.method == 'POST' %}
    <h2>Imagem Gerada:</h2>
    <img src="{{ url_for('homepage') }}" alt="Imagem Gerada">
    {% endif %}
</body>
</html>