<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <h1>Skoob Chart</h1>

    <form method="POST">
        <label for="user_id">Código de usuário Skoob</label>
        <input type="text" name="user_id" placeholder="Digite o seu código de usuário">

        <label for="column">Colunas</label>
        <input type="number" name="column" placeholder="Colunas" min="1" max="7" value="4">

        <label for="line">Linhas</label>
        <input type="number" name="line" placeholder="Linhas" min="1" max="7" value="3">

        <label>
            <input type="checkbox" name="paste_star" value="True" checked>
            Com avaliações
        </label>

        <button type="submit">Gerar Chart</button>
    </form>

    {% if image_data %}
    <h2>Imagem Gerada:</h2>
    <img src="data:image/png;base64,{{ image_data }}" alt="Imagem Gerada">
    <a href="data:image/png;base64,{{ image_data }}" download="chart_{{ user_id }}{{ current_time }}.png">
        <button>Download</button>
    </a>
    {% endif %}
</body>
</html>